.main-focus {

    padding: 60px 0 60px;

    &__title {
        font-size: 64px;
        line-height: 1;
        font-weight: 300;
        color: $primary-color;
    }

    &__wrap  {
        display: flex;
        margin: 0 -90px;
        
    }

    &__box {
        width: 50%;
        padding: 0 90px;
        display: flex;
    }

    &__num {
        display: block;
        width: 25%;
        margin-right: 30px;
        font-weight: 900;
        font-size: 200px;
        line-height: 1.17;
        color: #F2F2F2;
    }

    &__text {
        display: block;
        width: 75%;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.63;
        color: $gray1-color;
        display: flex;
        align-items: center;
    }
}