@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto-Light.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Roboto-Medium.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff) format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Roboto-Black.woff) format("woff");
}
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
  transition: all 0.3s;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  padding: 30px 0;
  background-color: #FFF;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.btn-text {
  margin-left: 20px;
  margin-right: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.btn-arrow-img {
  margin-right: 54px;
  max-width: 24px;
  max-height: 24px;
  width: auto;
  height: auto;
}
.btn:hover {
  background-color: #ED5500;
}
.btn--dark {
  background-color: #333333;
}
.btn--dark .btn-text {
  color: #FFF;
}

.header {
  padding: 30px 0 16px;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logo-img {
  max-width: 70px;
  max-height: 43.71px;
  width: auto;
  height: auto;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-item {
  padding: 0 30px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #333333;
}
.header__nav-link {
  position: relative;
}
.header__nav-link:before, .header__nav-link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #ED5500;
  transition: all 0.3s;
}
.header__nav-link:before {
  right: 0;
  top: -3px;
}
.header__nav-link:after {
  left: 0;
  bottom: -3px;
}
.header__nav-link:hover {
  color: #ED5500;
}
.header__nav-link:hover:before, .header__nav-link:hover:after {
  width: 100%;
}

.main-project {
  padding: 16px 0 60px;
}
.main-project__wrap {
  display: flex;
  flex-direction: row;
}
.main-project-text-box {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-project-img-box {
  position: relative;
  width: 66%;
  height: 830px;
}
.main-project-img-box-btn {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-project-title1, .main-project-title2 {
  display: block;
  font-size: 64px;
  line-height: 1;
}
.main-project-title1 {
  font-weight: 300;
  text-transform: uppercase;
  color: #ED5500;
}
.main-project-title2 {
  font-weight: 700;
  color: #333333;
}

.about {
  padding: 60px 0 60px;
}
.about__wrap {
  display: flex;
  background-color: #FBFBFB;
}
.about__imgs-box {
  width: 57%;
  display: flex;
}
.about__txt-box {
  width: 43%;
}
.about__imgs-small-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about__img {
  width: 100%;
  padding: 15px;
}
.about__img img {
  max-width: 270px;
  width: 100%;
  height: 100%;
}
.about__img--img1 {
  max-height: 265px;
}
.about__img--img2 {
  max-height: 140px;
}
.about__img--img3 {
  max-height: 345px;
}
.about__title {
  display: block;
  margin: 30px 0 20px;
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: #ED5500;
}
.about__text {
  font-size: 16px;
  line-height: 1.56;
  margin-bottom: 20px;
}
.about__btn {
  display: inline-block;
}

.main-focus {
  padding: 60px 0 60px;
}
.main-focus__title {
  font-size: 64px;
  line-height: 1;
  font-weight: 300;
  color: #ED5500;
}
.main-focus__wrap {
  display: flex;
  margin: 0 -90px;
}
.main-focus__box {
  width: 50%;
  padding: 0 90px;
  display: flex;
}
.main-focus__num {
  display: block;
  width: 25%;
  margin-right: 30px;
  font-weight: 900;
  font-size: 200px;
  line-height: 1.17;
  color: #F2F2F2;
}
.main-focus__text {
  display: block;
  width: 75%;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.63;
  color: #333333;
  display: flex;
  align-items: center;
}

.our-projects {
  padding: 60px 0 60px;
}
.our-projects__title {
  font-weight: 300;
  font-size: 64px;
  line-height: 1;
  color: #ED5500;
  margin-bottom: 60px;
  display: block;
}
.our-projects__wrap {
  display: flex;
  flex-wrap: wrap;
}
.our-projects__box {
  width: 50%;
  padding: 15px;
  border: 1px solid red;
}
.our-projects__box--left {
  width: 25%;
}
.our-projects__box--middle {
  width: 42%;
}
.our-projects__box--right {
  width: 33%;
}
.our-projects__card {
  border: 1px solid green;
  height: 255px;
  background-size: cover;
}
.our-projects__card__text {
  color: #FFF;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
}
.our-projects__btns {
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=style.css.map */
